<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="B2CTenant" value="fabrikamb2c.onmicrosoft.com" />
    <add key="ClientId" value="841e1190-d73a-450c-9d68-f5cf16b78e81" />
    <add key="PolicySignUpSignIn" value="b2c_1_susi" />
    <add key="PolicyEditProfile" value="b2c_1_edit_profile" />    
    <add key="PolicyResetPassword" value="b2c_1_reset" />
    <add key="ApiScopes" value="https://fabrikamb2c.onmicrosoft.com/demoapi/demo.read,https://fabrikamb2c.onmicrosoft.com/demoapi/demo.write" />
    <add key="ApiEndpoint" value="https://fabrikamb2chello.azurewebsites.net/hello" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>